.sales_analytics_heading{
    padding-left:30px;
    padding-top:24px;
}
.sales_cards{
    display:flex;
    flex-direction: column;
    /* width:auto; */
}
.card{
    background-color: white;
    border:0.5px solid rgb(186, 186, 186);
    margin:20px;
    margin-bottom: 6px;
    border-radius: 5px;
    padding:10px;
    width: auto;
}
.card_heading{
    font-size:1.3rem;
    padding-bottom:10px;
    color:rgb(71, 70, 70);
}
.charts{
    display: flex;
}
.chart_container {
    flex: 1;
    border:0.5px solid rgb(186, 186, 186);
    border-radius: 5px;
    padding: 10px;
    margin:10px;
}
.pieChartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:4;
}
.barChartContainer{
    flex:6;
}
@media screen and (min-width:320px) and (max-width:1024px){
    .charts{
        flex-direction: column;
    }
}
@media screen and (min-width:320px) and (max-width:480px){
    .sales_analytics_heading{
        padding-left:24px;
        font-size: 22px;
    }
    .card{
        margin:10px;
        margin-bottom:3px;
        padding:7px;
    }
    .card_heading{
        font-size: 1rem;
        padding-bottom: 5px;
    }
    .chart_container{
        margin:0;
        margin-bottom: 4px;
        padding:0;
    }
    .pieChartContainer{
        width: fit-content;
        height: 200px;
    }
}